{% extends 'shop/base.html' %}
	
{% block content %}


	<!-- Slider Area -->
	<section class="hero-slider" style="background-image:url({{banner1.image.url}});background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    height: 510px;">
		<!-- Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<br><br><br>
										<h1><span style="color: #BA1414;">UP TO 50% OFF </span>{{banner1.name}}</h1>
										<h5 style="color: #BA1414;">{{banner1.description}}</h5><br>
										<div class="button">
											<a href="{{ banner1.get_absolute_url }}" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
    </section>

	<!--/ End Slider Area -->
	
    <!-- Start Small Banner  -->


	<section class="small-banner section">
		<div class="container-fluid">
			<div class="row">
                <!-- Single Banner  -->
                {% for i in banner %}

				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="{{i.image.url}}" style="width: 600px;height: 370px;" alt="#">
						<div class="content">
							<p>{{  i.name }}</p>
							<h3>{{ i.category }} <br> collection</h3>
							<a href="{{  i.get_absolute_url }}" style="color: #BA1414;font-size: medium;"><strong> Discover Now </strong> </a>
						</div>
					</div>
                </div>
{% endfor %}
  
               
            </div>
            
        </div>
        
    </section>
    

	<div class="product-area most-popular section">
        <div class="container">
            <div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Trending</h2>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel popular-slider">
                        <!-- Start Single Product -->
                        {% for i in hot_item %}
						<div class="single-product">
							<div class="product-img">
								<a href="{{i.get_absolute_url}}">
									<img class="default-img" src="{{i.image.url}}" style="width: 550px;height: 370px;" alt="#">
									<img class="hover-img" src="{{i.image.url}}" alt="#">
									<span class="out-of-stock">Hot</span>
								</a>
								<div class="button-head">
								
									<div class="product-action-2">
										<a title="Add to cart" href="{{i.get_absolute_url}}">Add to cart</a>
									</div>
								</div>
							</div>
							<div class="product-content">
								<h3><a href="{{i.get_absolute_url}}">{{i.name}}</a></h3>
								<div class="product-price">
									<span class="old">${{i.price}}</span>
									<span>${{i.price}}</span>
								</div>
							</div>
                        </div>
                        {% endfor %}
					
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- End Most Popular Area -->
	
	<!-- Start Shop Home List  -->
	<section class="shop-home-list section">
		<div class="container">
			<div class="row">
				
						<div class="col-12">
							<div class="shop-section-title">
								<h1>On sale</h1>
							</div>
						</div>
				{% for i in on_sale %}
					<!-- Start Single List  -->
					<div class="single-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="list-image overlay">
									<img src="{{i.image.url}}" style="width: 140px;height: 140px;" alt="#">
									<a href="{{i.get_absolute_url}}" class="buy"><i class="fa fa-shopping-bag"></i></a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12 no-padding">
								<div class="content">
									<h4 class="title"><a href="{{i.get_absolute_url}}">{{i.name}}</a></h4>
									<p class="price with-discount">${{i.price}}</p>
								</div>
							</div>
						</div>
                    </div>
                    {% endfor %}
				
				</div>
				
		
			</div>
		</div>
	</section>
	<!-- End Shop Home List  -->
	

	<!-- Start Shop Services Area -->
	<section class="shop-services section home">
		<div class="container">
			<div class="row">
                <div class="col-lg-1 col-md-6 col-12">
                </div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Free shiping</h4>
						<p>Orders over $100</p>
					</div>
					<!-- End Single Service -->
                </div>
                <div class="col-lg-1 col-md-6 col-12">
                </div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Free Return</h4>
						<p>Within 30 days returns</p>
					</div>
					<!-- End Single Service -->
                </div>
                <div class="col-lg-1 col-md-6 col-12">
                </div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Sucure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
		
			</div>
		</div>
	</section>
	<!-- End Shop Services Area -->
	
    

	<!-- End Shop Newsletter -->


{% endblock %}