{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Checkout
{% endblock %}

{% block content %}


	<!-- Start Checkout -->
    <section class="shop checkout section">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-4 col-12">
                </div>
                <div class="col-lg-4 col-12">
                    <div class="order-details">
                        <!-- Order Widget -->
                        <div class="single-widget">
                            <h2>CART  TOTALS</h2>
                            <div class="content">
                                <ul>
                                    {% for item in cart %}
                                    <li>Items <span>{{ item.quantity }}x {{ item.product.name }}</span></li> 
                                    {% endfor %}
                                    <li>Total<span>${{ item.total_price }}</span></li></li>
                                    <li class="last">Total<span>${{ item.total_price }}</span></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!--/ End Order Widget -->
                        <!-- Order Widget -->
                        <div class="single-widget">
                            <h2>Payments</h2>
                            <div class="content">
                             
                             





                            </div>
                        </div>
                        <!--/ End Order Widget -->
                        <!-- Payment Method Widget -->
                        <div class="single-widget payement">
                            <div class="content">
                                <img src="{% static 'images/payment-method.png' %}" alt="#">
                            </div>
                        </div>
                        <!--/ End Payment Method Widget -->
                        <!-- Button Widget -->
                        <div class="single-widget get-button">
                            <div class="content">
                                <div class="button">
                                    <form  method="post">
                                        {% csrf_token %}
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                data-key="{{ key }}"
                                                data-description={{order.first_name}}{{order.last_name}}
                                                data-amount={{total}}
                                                data-locale="auto"></script>
                                      </form>
    
                                </div>
                            </div>
                        </div>
                        <!--/ End Button Widget -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Checkout -->
    





{% endblock %}